body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
}

.row {
    display: flex;
    flex: 1;
}

.row > div {
    flex: 1;
    border: 1px dotted black;
}

.color {
    background-color: #808080;
}