body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#grid {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
}

.row {
    display: flex;
    flex: 1;
}

.row > div {
    flex: 1;
    border: 1px dotted black;
}

#grid-resize-btn {
    padding: 10px 20px;
    font-size: 20px;
}